[Unit]
After=network.service
Description= CDSHELL - AutoUpdate

[Service]
ExecStart=/root/shell/push/cdshelld.js $(/root/shell/linux/cdshell -V)
WorkingDirectory=/root/shell/push
Restart=always
RestartSec=5
StartLimitInterval=400
StartLimitBurst=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=CDSHELL AutoUpdate
User=root
Group=root
Environment=NODE_ENV=production PORT=3000 NODE_MODULES=/lib/node_modules

[Install]
WantedBy=multi-user.target
